# IDEA files
/.idea/
/out/
/*.iml
META-INF/
/data/

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Java compiled files
*.class
*.jar

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Crash logs
hs_err_pid*
